[Unit]
Description=Run Python Script Every Six Hours
After=network.target

[Service]
ExecStart=/usr/bin/bash /home/evan/grib-parse-collect/grib_parse_runner.sh
RestartSec=100
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

