[Unit]
Description=Run Python Script Every Six Hours
After=network.target

[Service]
ExecStart=/home/evan/pyenv/bin/python3 /home/evan/personal/open-swells/grib-parse-collect/grib_parse_runner.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

